fastapi[standard]==0.112.4
pydantic==2.8.2
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
pgvector==0.3.5
aiofiles==23.2.1
langchain-core==0.2.36
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langchain-community==0.2.14
duckduckgo-search==5.3.1
chromadb==0.5.5
tiktoken==0.7.0
langfuse==2.53.9
xhtml2pdf==0.2.15
markdown2==2.4.13